// notifications 

.notification
  display block
  cursor pointer
  margin 8px

  /* size */
  // font-size 1em
  padding 8px 16px

  /* colors */
  color $c-grey
  background-color $c-grey-light

  for $index, $value in $colors
    &-{$index}, &.{$index}
      color $value.reverse
      background-color $value.normal

  a
    font-weight bold

    &:hover
      text-decoration underline
