//badge

.badge
  font-weight bold
  font-size 0.75em
  border none

  /* colors */
  color $c-button-default
  background-color $c-button-back-default

  /* size */
  // padding 0.25em 0.4em
  padding 5px 13px

  for $index, $value in $colors
    &-{$index}, &.{$index}
      color $value.reverse
      background-color $value.normal
