.btn
  cursor pointer
  border-color $c-button-border
  border-style solid
  border-width 0
  box-shadow 0 1px 2px 0 rgba(#000, 0.2)
  margin 8px
  // min-height 1em
  // transition height 1s, line-height 1s, width 1s, padding 1s, border-radius 1s, font-size 1s // color: #616161;
  // line-height 1em
  text-align center

  &-round, &.round
    border-radius 5px

  &-round2, &.round2
    border-radius 5em

  &-border, &.border
    border-width 2px

  &-relief, &.relief
    border-bottom-width 4px

  &-stroke, &.stroke
    color $c-default
    background-color transparent
    border-color currentColor
    border-width 2px
    box-shadow none

  /* colors */
  color $c-button-default
  background-color $c-button-back-default

  &:hover
    background-color $c-button-dark-back-default

  &:active
    position relative
    top 3px

  &-empty
    background none
    box-shadow none

    &:hover
      background none

  &-primary
    background-color $c-primary
    color $c-back-primary

    &.btn-border, &.btn-relief
      border-color $c-primary-dark

    &.btn-stroke
      color $c-primary
      background-color transparent

      &:hover
        color $c-button-default
        background-color $c-primary
        border-color $c-primary

    &:hover
      background-color $c-primary-hover

  &-secondary
    background-color $c-secondary
    color $c-back-secondary

    &.btn-border, &.btn-relief
      border-color $c-secondary-dark

    &.btn-stroke
      color $c-secondary
      background-color transparent

      &:hover
        color $c-button-default
        background-color $c-secondary
        border-color $c-secondary

    &:hover
      background-color $c-secondary-hover

  &-light
    background-color $c-light
    color $c-dark

    &.btn-border, &.btn-relief
      border-color $c-dark

    &.btn-stroke
      color $c-light
      background-color transparent

      &:hover
        color $c-dark
        background-color $c-light
        border-color $c-light

    &:hover
      background-color $c-light-hover

  &-dark
    background-color $c-dark
    color $c-light

    &.btn-border, &.btn-relief
      border-color #000

    &.btn-stroke
      color $c-dark
      background-color transparent

      &:hover
        color $c-light
        background-color $c-dark
        border-color $c-dark

    &:hover
      background-color $c-dark-hover

  /* size */
  /* regular */
  font-size medium
  font-size 1em
  padding 7px 17px

  &-xs
    font-size x-small
    padding 7px 10px

  &-sm
    font-size small
    padding 7px 13px

  &-lg
    font-size large
    padding 7px 21px

  &-xl
    font-size x-large
    padding 7px 24px

  /* circle */
  &-circle
    padding 7px
    border-radius 100%

  &-circle
    display inline-block
    vertical-align middle
    height $s-btn-default
    line-height $s-btn-default
    width $s-btn-default

    .icon
      height 1.3em
      vertical-align middle

    &.btn-xs
      font-size x-small
      height $s-btn-x-small
      line-height $s-btn-x-small
      width $s-btn-x-small

    &.btn-sm
      font-size small
      height $s-btn-small
      line-height $s-btn-small
      width $s-btn-small

    &.btn-lg
      font-size large
      height $s-btn-large
      line-height $s-btn-large
      width $s-btn-large

    &.btn-xl
      font-size x-large
      height $s-btn-x-large
      line-height $s-btn-x-large
      width $s-btn-x-large
