// checkbox
.checkbox
  cursor pointer
  position relative
  appearance none
  border-radius 4px
  color $c-light
  background-color $c-grey-light
  square(18px)
  border none
  transition background-color 0.3s

  &[disabled]
    background-color $c-grey
    opacity 0.5

  &:focus
    // border 2px solid $c-grey

  &:hover
    background-color $c-grey

  &:checked
    background-color $c-primary
    border none

    &:after
      visibility visible

  &:after
    content '\E008'
    font-family 'icons'
    font-size 12px
    position absolute
    visibility hidden
    square(100%)
    @extend .flex-center
