.circular-progress
  // position relative
  border-radius 100%
  border-color $c-progress-back-default
  border-style solid
  box-sizing border-box
  margin 5px
  text-align center
  display flex
  justify-content center
  align-items center

  &-value
    position absolute
    clip-path inset(0 0 0 50%)
    visibility hidden

    &::before, &::after
      content ''
      position absolute
      border-radius 100%
      border-style solid
      display block
      top 0
      left 0
      visibility visible
      box-sizing border-box

    // margin
    for i in (0 .. 5)
      &-{i * 10}

        &::before
          -webkit-transform rotate(i * 36deg)

        &::after
          -webkit-transform rotate(i * 36deg)

    for i in (6 .. 10)
      &-{i * 10}
        clip-path none // clip rect(0, 20px, 50px, 0)

        &::before
          -webkit-transform rotate(i * 36deg)

        &::after
          -webkit-transform rotate(180deg)

    /* colors */
    &::before, &::after
      border-color $c-progress-default

    &-light
      &::before, &::after
        border-color $c-light

    &-dark
      &::before, &::after
        border-color $c-dark

    &-primary
      &::before, &::after
        border-color $c-primary

    &-secondary
      &::before, &::after
        border-color $c-secondary

  /* size */
  font-size 1em
  height $s-progress-circle-default
  width $s-progress-circle-default
  border-width $s-progress-circle-default-border

  .circular-progress-value
    height $s-progress-circle-default
    width $s-progress-circle-default

    &::before, &::after
      border-width $s-progress-circle-default-border
      clip rect(0, ($s-progress-circle-default / 2), $s-progress-circle-default, 0)
      height 100%
      width 100%

  &-xs
    font-size x-small
    height $s-progress-circle-x-small
    width $s-progress-circle-x-small
    border-width $s-progress-circle-x-small-border

    .circular-progress-value
      height $s-progress-circle-x-small
      width $s-progress-circle-x-small

      &::before, &::after
        border-width $s-progress-circle-x-small-border
        clip rect(0, ($s-progress-circle-x-small / 2), $s-progress-circle-x-small, 0)

  &-sm
    font-size small
    height $s-progress-circle-small
    width $s-progress-circle-small
    border-width $s-progress-circle-small-border

    .circular-progress-value
      height $s-progress-circle-small
      width $s-progress-circle-small

      &::before, &::after
        border-width $s-progress-circle-small-border
        clip rect(0, ($s-progress-circle-small / 2), $s-progress-circle-small, 0)

  &-lg
    font-size large
    height $s-progress-circle-large
    width $s-progress-circle-large
    border-width $s-progress-circle-large-border

    .circular-progress-value
      height $s-progress-circle-large
      width $s-progress-circle-large

      &::before, &::after
        border-width $s-progress-circle-large-border
        clip rect(0, ($s-progress-circle-large / 2), $s-progress-circle-large, 0)

  &-xl
    font-size x-large
    height $s-progress-circle-x-large
    width $s-progress-circle-x-large
    border-width $s-progress-circle-x-large-border

    .circular-progress-value
      height $s-progress-circle-x-large
      width $s-progress-circle-x-large

      &::before, &::after
        border-width $s-progress-circle-x-large-border
        clip rect(0, ($s-progress-circle-x-large / 2), $s-progress-circle-x-large, 0)