.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6
    font-weight bold

.h6, h6
    font-size 1em

.h5, h5
    font-size 1.2em

.h4, h4
    font-size 1.4em

.h3, h3
    font-size 1.6em

.h2, h2
    font-size 1.8em

.h1, h1
    font-size 2.2em
