img
  background-color $c-grey-light

  &:-moz-loading
    // background-color $c-back-default
    display inline-block

  &:-moz-broken
    // background-color $c-back-default
    display inline-block

  &.round
    border-radius 5px

  &.circle
    border-radius 100%

  &.frame
    /* size */
    box-sizing border-box
    border-style solid
    border-color currentColor

    &-thin
      @extend img.frame
      border-width thin

    &-medium
      @extend img.frame
      border-width medium

    &-thick
      @extend img.frame
      border-width thick

.hover-icon
  position relative
  display grid
  grid-template-rows 100%
  grid-template-columns 100%
  justify-items center
  align-items center

  img
    grid-row 1
    grid-column 1 // position: absolute;
    width 100%
    height 100%
    object-fit cover // z-index: -2;

  .icon
    grid-row 1
    grid-column 1
    height 35px
    width 35px
    color $c-light
    transition 600ms
    z-index 1

  &::after
    content ''
    display block
    position absolute
    z-index 0
    top 0
    right 0
    bottom 0
    left 0
    transition 600ms
    background-color rgba(#000000, 0.1)

  &:hover
    .icon
      height 60px
      width 60px

    &::after
      background-color rgba(#000000, 0.5) // display: none;
