// input-text
.input-text
  height 48px
  background $c-grey-light
  border-radius 8px
  border 2px solid transparent
  // color $c-default
  font-size 1em
  padding 0 16px
  box-sizing border-box

  &::placeholder
    color $c-grey
    opacity 1

  &:invalid
    box-shadow none

  &:focus
    border 2px solid $c-grey

form.submitted, form.is-submitted
  .input-text
    &:invalid, &.invalid
      color $c-bad
      border 2px solid $c-bad
