meter
  -moz-appearance none
  -webkit-appearance none
  appearance none
  background none
  background-color $c-progress-back-default
  border-width 0
  border-color $c-progress-back-default
  border-style none
  height 1.3em
  margin 7px // box-sizing: content-box; // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

  &::-webkit-meter-bar

  &::-webkit-meter-optimum-value

  &::-moz-meter-bar
    background $c-progress-default
    box-shadow 0 1px 2px 0 rgba(#000, 0.2) // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-width 0
    border-color $c-progress-default
    border-style none

.meter
  &-round
    border-radius 5px

    &::-moz-meter-bar
      border-radius 5px 5px 5px 5px

  &-stroke.meter-round

  &::-moz-meter-bar
    border-radius 0 5px 5px 0

  &-stroke
    border-width 1px
    border-color $c-progress-default
    border-style solid
    background-color transparent

    &::-moz-meter-bar
      box-shadow none // background-color: $c-light;

  &-border
    background-color $c-progress-border-default
    border-style solid
    border-width 5px

  &-relief
    background-color $c-progress-border-default
    border-style solid
    border-bottom-width 4px

  &-round2
    border-radius 5em

    &::-moz-meter-bar
      border-radius 5em

  &-primary
    background-color $c-progress-back-default

  &-secondary
    background-color $c-progress-back-default

  &-light
    background-color $c-progress-back-default

  &-dark
    background-color $c-progress-back-default
