.progress
  -moz-appearance none
  -webkit-appearance none
  appearance none
  color $c-progress-default
  border-width 0
  border-color $c-progress-back-default
  border-style solid
  font-size 1em
  height 1.3em
  margin 7px
  box-sizing content-box // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

  &::-webkit-progress-bar
    background-color transparent

  &::-webkit-progress-value
    // background-color: $c-progress-default;
    background-color currentColor
    box-shadow 0 1px 2px 0 rgba(#000, 0.2) // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-width 0
    border-color $c-progress-default
    border-style none

  &::-moz-progress-bar
    // background-color: $c-progress-default;
    background-color currentColor
    box-shadow 0 1px 2px 0 rgba(#000, 0.2) // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-width 0
    border-color $c-progress-default
    border-style none

  &-round
    border-radius 5px

    &::-webkit-progress-value
      border-radius 5px 5px 5px 5px

    &::-moz-progress-bar
      border-radius 5px 5px 5px 5px

  &-stroke.progress-round
    &::-webkit-progress-value
      border-radius 0 5px 5px 0

    &::-moz-progress-bar
      border-radius 0 5px 5px 0

  &-stroke
    background-color transparent
    border-color currentColor
    border-width 2px

    &::-webkit-progress-value
      box-shadow none // background-color: $c-light;

    &::-moz-progress-bar
      box-shadow none // background-color: $c-light;

  &-border
    background-color $c-progress-back-border-default // border-style: solid;
    border-width 5px

  &-relief
    // border-width: 5px;
    // border-bottom-width: 9px;
    &::-webkit-progress-value
      // border-bottom-width: 9px;

    &::-moz-progress-bar
      // border-bottom-width: 9px;

  &-round2
    border-radius 5em

    &::-webkit-progress-value
      border-radius 5em

    &::-moz-progress-bar
      border-radius 5em

  /* colors */
  background-color $c-progress-back-default

  &-primary, &-secondary, &-light, &-dark
    // background-color: $c-progress-back-default;
    &::-webkit-progress-value
      // background-color: currentColor;

    &::-moz-progress-bar
      // background-color: currentColor;

    &.progress-stroke
      // background-color: transparent; // border-color: currentColor;

    &.progress-border
      // background-color: $c-progress-back-border-default;
      // border-width: 5px;

    &.progress-relief
      // background-color: $c-progress-border-default;

  &-primary
    color $c-primary

  &-secondary
    color $c-secondary

  &-light
    color $c-light

  &-dark
    color $c-dark
