
body.scrollbar
  &::-webkit-scrollbar
    background $c-back-default

  &-primary
    &::-webkit-scrollbar
      background-color $c-primary-dark

  &-secondary
    &::-webkit-scrollbar
      background-color $c-secondary-dark

  &-light
    &::-webkit-scrollbar
      background-color $c-dark

  &-dark
    &::-webkit-scrollbar
      background-color $c-light

.scrollbar
  &-hidden
    scrollbar-width none

    &::-webkit-scrollbar
      display none

  &::-webkit-scrollbar
    width $s-scrollbar
    background none // background-color: #000;

  /* shape */
  &-round
    &::-webkit-scrollbar-track
      border-radius 5px

    &::-webkit-scrollbar-thumb
      border-radius 5px

    &::-webkit-scrollbar-corner
      visibility hidden

  &-round2
    &::-webkit-scrollbar-track
      border-radius $s-scrollbar

    &::-webkit-scrollbar-thumb
      border-radius $s-scrollbar

    &::-webkit-scrollbar-corner
      visibility hidden

  &-border
    border-width 2px

  // scrollbar-color: currentColor $c-scrollbar-back-default;
  /* color */
  scrollbar-color $c-scrollbar-default $c-scrollbar-back-default

  &::-webkit-scrollbar-track
    background-color $c-scrollbar-back-default

  &::-webkit-scrollbar-thumb
    background-color $c-scrollbar-default

  &::-webkit-scrollbar-corner
    background-color $c-scrollbar-corner-default

  &-primary
    @extend .scrollbar
    scrollbar-color $c-primary $c-scrollbar-back-default

    &::-webkit-scrollbar-thumb
      background-color $c-primary

    &-dark
      @extend .scrollbar-primary
      scrollbar-color $c-primary $c-primary-dark

      &::-webkit-scrollbar-track
        background-color $c-primary-dark

  &-secondary
    @extend .scrollbar
    scrollbar-color $c-secondary $c-scrollbar-back-default

    &::-webkit-scrollbar-thumb
      background-color $c-secondary

    &-dark
      @extend .scrollbar-secondary
      scrollbar-color $c-secondary $c-secondary-dark

      &::-webkit-scrollbar-track
        background-color $c-secondary-dark

  &-light
    @extend .scrollbar
    scrollbar-color $c-light $c-scrollbar-back-default

    &::-webkit-scrollbar-thumb
      background-color $c-light

    &-dark
      @extend .scrollbar-light
      scrollbar-color $c-dark $c-scrollbar-back-default

      &::-webkit-scrollbar-track
        background-color $c-dark

  &-dark
    @extend .scrollbar
    scrollbar-color $c-dark $c-scrollbar-back-default

    &::-webkit-scrollbar-thumb-track
      background-color $c-dark

    &::-webkit-scrollbar-track
      background-color $c-light
