.slider
  -moz-appearance none
  -webkit-appearance none
  appearance none
  color $c-progress-default
  border-width 0
  border-color $c-progress-back-default
  border-style solid
  font-size 1em
  height 1.3em // min-height: $s-slider-thumb-min;
  margin 7px
  box-sizing content-box
  padding 0
  cursor pointer

  &::-moz-focus-outer
    border none

  &::-webkit-slider-runnable-track
    height 100%

  &::-webkit-slider-thumb
    background-color currentColor
    -webkit-appearance none
    -moz-appearance none
    appearance none
    display inline-block
    border-radius 0
    border-width 0
    height 1.3em
    width 1em
    box-shadow 0 1px 2px 0 rgba(#000, 0.2)
    vertical-align middle // mobile

  &::-moz-range-track
    visibility hidden

  &::-moz-range-thumb
    background-color currentColor
    border-radius 0
    border-width 0
    height inherit
    width 1em
    box-shadow 0 1px 2px 0 rgba(#000, 0.2)

  /* shape */
  &-thumb
    &::-webkit-slider-thumb
      width 1.3em

    &::-moz-range-thumb
      width 1.3em

  &-round
    border-radius 5px

    &::-webkit-slider-thumb
      border-radius 5px

    &::-moz-range-thumb
      border-radius 5px

  &-round2
    border-radius 5em

    &::-webkit-slider-thumb
      border-radius 5em
      width 1.3em

    &::-moz-range-thumb
      border-radius 5em
      width 1.3em

  &-stroke
    background-color transparent
    border-color currentColor
    border-width 2px

    &::-webkit-slider-thumb
      box-shadow none

    &::-moz-range-thumb
      box-shadow none

  &-border
    background-color $c-progress-back-border-default
    border-width 5px

  &-boolean
    width 3em

  /* colors */
  background-color $c-progress-back-default

  &-primary, &-secondary, &-light, &-dark
    // background-color: $c-progress-back-default;
    &::-webkit-slider-thumb
      // background-color: currentColor;

    &::-moz-range-thumb
      // background-color: currentColor;

    &.progress-stroke
      // background-color: transparent;

    &.progress-border
      // background-color: $c-progress-back-border-default;
      // border-width: 5px;

  &-primary
    color $c-primary

  &-secondary
    color $c-secondary

  &-light
    color $c-light

  &-dark
    color $c-dark
