.tooltip
  position relative
  border-width 0px
  border-color $c-button-border
  border-style solid
  box-shadow 0 1px 2px 0 rgba(#000, 0.2)
  display inline-block
  margin 7px
  padding 7px 17px
  text-align center

  &::before, &::after
    content ''
    position absolute
    left 50%
    display inline-block
    transform translateX(-50%)
    height 0
    width 0
    border-width 0.5em
    border-style solid
    border-right-color transparent
    border-bottom-color transparent
    border-left-color transparent

  &::before
    top 100%
    border-top-color transparent

  &::after
    border-top-color $c-button-back-default
    top calc(100% - 1px)

  &-round
    border-radius 5px

  &-round2
    border-radius 5em

  &-circle
    height 50px
    line-height 50px
    width 50px
    padding 7px 7px
    border-radius 100%

  &-border
    border-width 2px

    &::before
      border-top-color $c-button-border
      top calc(100% + 1px)

  &-relief
    border-bottom-width 4px

    &::before
      border-top-color $c-button-border
      top calc(100% + 3px)

  &-stroke
    color $c-default
    background-color transparent
    border-color currentColor
    border-width 2px
    box-shadow none // border-color: $c-button-border;

    // border-style: solid;
    &::after
      top 100%
      border-top-color currentColor // border-top-color: $c-button-border;

  /* colors */
  color $c-button-default
  background-color $c-button-back-default

  &:hover
    background-color $c-button-dark-back-default

    &::after
      border-top-color $c-button-dark-back-default

  &:active
    // position: relative;
    // top: 3px;

  &-primary
    background-color $c-primary
    color $c-back-primary

    &.tooltip-border, &.tooltip-relief
      border-color $c-primary-dark

    &.tooltip-stroke
      color $c-primary
      background-color transparent

      &:hover
        color $c-button-default
        background-color $c-primary
        border-color $c-primary

        &::after
          border-top-color $c-primary

    &::after
      border-top-color $c-primary

    &:hover
      background-color $c-primary-hover

      &::after
        border-top-color $c-primary-hover

  &-secondary
    background-color $c-secondary
    color $c-back-secondary

    &.tooltip-border, &.tooltip-relief
      border-color $c-secondary-dark

    &.tooltip-stroke
      color $c-secondary
      background-color transparent

      &:hover
        color $c-button-default
        background-color $c-secondary
        border-color $c-secondary

        &::after
          border-top-color $c-secondary

    &::after
      border-top-color $c-secondary

    &:hover
      background-color $c-secondary-hover

      &::after
        border-top-color $c-secondary-hover

  &-light
    background-color $c-light
    color $c-dark

    &.tooltip-border, &.tooltip-relief
      border-color $c-dark

    &.tooltip-stroke
      color $c-light
      background-color transparent

      &:hover
        color $c-button-default
        background-color $c-light
        border-color $c-light

        &::after
          border-top-color $c-light

    &::after
      border-top-color $c-light

    &:hover
      background-color $c-light-hover

      &::after
        border-top-color $c-light-hover

  &-dark
    background-color $c-dark
    color $c-light

    &.tooltip-border, &.tooltip-relief
      border-color #000

    &.tooltip-stroke
      color $c-dark
      background-color transparent

      &:hover
        color $c-button-default
        background-color $c-dark
        border-color $c-dark

        &::after
          border-top-color $c-dark

    &::after
      border-top-color $c-dark

    &:hover
      background-color $c-dark-hover

      &::after
        border-top-color $c-dark-hover

  /*
  // margin-left: initial;
  // border-radius: 2px;
  // margin-right: initial;
  margin: 5px auto; */
  &-square
    // border-radius: 0;
