.btn-group
  // display flex
  @extend .flex

  .btn
    // line-height 1em
    margin-left 0
    margin-right 0

    &:nth-child(n+2)
      border-top-left-radius 0
      border-bottom-left-radius 0

    &:nth-last-child(n+2)
      border-top-right-radius 0
      border-bottom-right-radius 0
