// list
.list
  display flex
  flex-direction column
  padding-left initial // -> ul

  &-item
    margin 4px
    padding 8px 16px
    list-style none // -> li

  &-card .list-item
    background-color $c-back-default
    box-shadow 0 1px 2px 0 rgba(#000, 0.2)

  @media $md
    display inline-flex
    flex-wrap wrap

    &-row
      flex-direction row

    &-stretch
      display flex

// menu
.menu
  display flex
  flex-direction column
  padding-left initial // -> ul
  // padding: 3% 0;
  // margin: 0 auto;
  // border-bottom 1px solid $c-grey
  padding 3% 15px

  &-center
    align-items center
    text-align center

  .dropdown-toggle, &-item
    text-transform capitalize
    padding 7px
    font-weight bold
    list-style none // -> li

  &-fill
    // color $c-default
    // background-color $c-back-default

  for $index, $value in $colors
    &-{$index}, &.{$index}
      color $value.reverse
      background-color $value.normal

  .dropdown
    position relative
    display inline-flex

    &-toggle
      // display: inline;
      &::after
        display inline-block
        width 0
        height 0
        margin-left 0.255em
        vertical-align 0.255em
        content ''
        border-top 0.3em solid
        border-right 0.3em solid transparent
        border-bottom 0
        border-left 0.3em solid transparent

    &-menu
      display none
      line-height 2em
      padding 10px

    &:hover
      display flex
      flex-direction column

      .dropdown-menu
        display flex
        flex-direction column
        padding-left 2em

  @media $sm
    padding 3% 25px

  @media $md
    flex-direction row
    justify-content center
    border-bottom none
    padding 0

    .dropdown, &-item
      padding 7px 14px

    &-left
      justify-content left

    .dropdown:hover
      .dropdown-menu
        z-index 100
        position absolute
        top 100%
        left 0
        min-width 10em
        padding 8px 0
        color $c-back-default // background-color: $c-primary-dark; // position: relative;
        background-color $c-primary // position: relative;

        // top: 100px;
        // display: flex;
        // align-items: flex-end;
        // padding-left: initial; // -> ul
        // display: none;
        .dropdown-item
          text-transform capitalize
          white-space nowrap
          padding 7px 14px
          display block
          text-align left // width: 100%;

          &:hover
            background-color rgba(#000, 0.2)

@media $xl
  .menu-item
    padding 7px 24px