.pattern
  margin 4px

  &.g301
    // width: 100%;
    display inline-grid
    display -moz-inline-grid
    grid-template-columns min-content auto
    grid-template-rows max-content max-content
    align-items center
    grid-column-gap 1em

    >*:nth-child(1)
      grid-row-start 1
      grid-row-end 3

    >*:nth-child(2)
      // font-size: 1.5em;
      font-weight bold // margin: auto 0;
      // display: contents;

    >*:nth-child(3)
      // font-size: 1em;
      // margin: auto 0; // display: contents;

    >*:nth-child(n+4)
      display none
