// square
for i in (0 .. 10)
  .sqr-{i * 25}
    height (i * 25) px
    width (i * 25) px

.sqr-full
  height 100%
  width 100%

// circle
for i in (0 .. 10)
  .circle-{i * 25}
    height (i * 25) px
    width (i * 25) px

.circle-full
  height 100%
  width 100%

// margin
for i in (0 .. 10)
  .mt-{i * 8}
    margin-top (i * 8) px

  .mr-{i * 8}
    margin-right (i * 8) px

  .mb-{i * 8}
    margin-bottom (i * 8) px

  .ml-{i * 8}
    margin-left (i * 8) px

// margin - auto
.m-auto
  margin-left auto
  margin-right auto

.ml-auto
  margin-left auto

.mr-auto
  margin-right auto

// font size
for i in (0 .. 64)
  .fs-{i}
    font-size i px

.biger
  font-size 1.3em

  @media $sm
    font-size 1.8em

  @media $md
    font-size 2em

  @media $xl
    font-size 3.5em

// border
.square
  border-radius 0

.round
  border-radius 5px

.rounder
  border-radius 5em

.relief
  border-bottom-width 4px

// text case
.upper, .tt-uppercase
  text-transform uppercase

.lower, .tt-lowercase
  text-transform lowercase

// text-align
.ta-c
  text-align center

// float
.float
  &-left
    float left

  &-right
    float right

// spacer
.spacer
  &-xs
    min-height 1px

  &-sm
    min-height 7px

    @media $lg
      min-height 17px

  &-md
    min-height 17px

    @media $lg
      // min-height: 17px;
      min-height 37px

  &-lg
    min-height 50px

[class|=spacer]
  &:hover
    background-color rgba(#000000, 0.05)

// absolute
.top, .bottom
  &-left, &-right
    position absolute

.top
  &-left
    top 0
    left 0

  &-right
    top 0
    right 0

.bottom
  &-left
    bottom 0
    left 0

  &-right
    bottom 0
    right 0
