*, :focus, :hover
  outline none

html
  // font-size 1em

body
  margin 0
  color $c-default
  background-color $c-light
  font-family 'Open Sans', sans-serif
  font-size 14px

  @media $md
    font-size 16px

a, .a
  text-decoration none
  color currentColor

code, var, .code, .var
  font-family 'SF Mono', serif
  font-style normal
  color $c-var

b, .b, strong, .bold, .fw-bold
  font-weight bold

small, .small
  font-size 0.8em

hr, .hr
  border-width 0
  margin 0
  height 3px
  background-color $c-primary

figure-caption, .figure-caption
  color $c-grey
  font-size 0.9em

@font-face
  font-family 'Open Sans'
  src url('/fonts/OpenSans-Regular.ttf') format('TrueType')

@font-face
  font-family 'SF Mono'
  src url('/fonts/SFMono-Regular.otf') format('OpenType')
