
// font size
for i in (0 .. 64)
  .fs-{i}
    font-size i px

  .lh-{i}
    line-height i px

// square
for i in (0 .. 10)
  .sqr-{i * 25}
    height (i * 25) px
    width (i * 25) px

.sqr-full
  square 100%

// margin
for i in (0 .. 10)
  .mr-{i * 8}
    margin-right (i * 8) px

  .ml-{i * 8}
    margin-left (i * 8) px

.ml-auto
  margin-left auto

.mr-auto
  margin-right auto

.m-auto
  margin-left auto
  margin-right auto