// colors
$colors = {
  light: {
    normal: #FFF,
    reverse: #555
  },
  grey-light: {
    normal: #eee,
    reverse: #555
  },
  grey: {
    normal: #9E9E9E,
    reverse: #FFF
  },
  dark: {
    normal: #555,
    reverse: #FFF
  },
  primary: {
    normal: #2196F3,
    reverse: #FFF
  },
  secondary: {
    normal: #009688,
    reverse: #FFF
  },
  good: {
    normal: #009688,
    reverse: #FFF
  },
  warning: {
    normal: #FF9800,
    reverse: #FFF
  },
  bad: {
    normal: #F44336,
    reverse: #FFF
  }
}
// fonts
$fw-thin = 100
$fw-x-light = 200
$fw-light = 300
$fw-regular = 400
$fw-medium = 500
$fw-semi-bold = 600
$fw-bold = 700
$fw-x-bold = 800
$fw-black = 900
$weight = {
  thin: $fw-thin,
  x-light: $fw-x-light,
  light: $fw-light,
  regular: $fw-regular,
  medium: $fw-medium,
  semi-bold: $fw-semi-bold,
  bold: $fw-bold,
  x-bold: $fw-x-bold,
  black: $fw-black
}
// medias queries (by bootstrap)
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
$sm = '(min-width: 576px)'
// Medium devices (tablets, 768px and up)
$md = '(min-width: 768px)'
// Large devices (desktops, 992px and up)
$lg = '(min-width: 992px)'
// Extra large devices (large desktops, 1200px and up)
$xl = '(min-width: 1200px)'
// sizes
// circular button
$s-btn-x-small = 30px
$s-btn-small = 40px
$s-btn-default = 50px
$s-btn-large = 65px
$s-btn-x-large = 80px
// scrollbar
$s-scrollbar = 15px
// circular progress
$s-progress-circle-x-small = 50px
$s-progress-circle-x-small-border = 1px
$s-progress-circle-small = 70px
$s-progress-circle-small-border = 3px
$s-progress-circle-default = 80px
$s-progress-circle-default-border = 5px
$s-progress-circle-large = 100px
$s-progress-circle-large-border = 6px
$s-progress-circle-x-large = 120px
$s-progress-circle-x-large-border = 8px
// slider
$s-slider-thumb-min = 16px
// default
$c-default = #333
$c-back-default = #F5F5F5
// light
$c-light = #FFF
$c-light-hover = #EEE
// grey
$c-grey = #9E9E9E // #bdc3c7
$c-grey-light = #EEE
// dark
$c-dark = #555
$c-dark-hover = #777
// reverse - color for contrast
$c-reverse-light = $c-dark
$c-reverse-grey-light = $c-dark
$c-reverse-grey = $c-light
$c-reverse-dark = $c-light
$c-reverse-primary = $c-light
$c-reverse-secondary = $c-light
$c-reverse-good = $c-light
$c-reverse-warning = $c-light
$c-reverse-bad = $c-light
// primary
$c-primary = #2196F3
$c-back-primary = $c-reverse-primary
$c-primary-hover = hsl(207, 90%, 40%)
$c-primary-dark = hsl(207, 90%, 34%)
// secondary
$c-secondary = #009688
$c-back-secondary = $c-reverse-secondary
$c-secondary-hover = hsl(174, 100%, 24%)
$c-secondary-dark = hsl(174, 100%, 19%)
// good
$c-good = #009688
$c-back-good = $c-reverse-warning
// $c-good-hover= hsl(174, 100%, 24%)
// $c-good-dark= hsl(174, 100%, 19%)
// warning
$c-warning = #FF9800
$c-back-warning = $c-reverse-warning
// $c-warning-hover= hsl(174, 100%, 24%)
// $c-warning-dark= hsl(174, 100%, 19%)
// bad
$c-bad = #F44336
$c-back-bad = $c-reverse-bad
// $c-bad-hover= hsl(174, 100%, 24%)
// $c-bad-dark= hsl(174, 100%, 19%)
// var
$c-var = #e83e8c
// progress
$c-progress-default = $c-grey
$c-progress-back-default = #ECF0F1
$c-progress-border-default = #ECF0F1
$c-progress-back-border-default = #F9F9F9
// menu
// $c-menu-back-default= $c-grey

// slider
$c-slider-default = $c-grey
$c-slider-back-default = #ECF0F1
$c-slider-border-default = #ECF0F1
$c-slider-back-border-default = #F9F9F9
// button
$c-button-default = $c-light
$c-button-back-default = $c-grey
$c-button-border = #616161
$c-button-dark-back-default = #616161
// scrollbar
$c-scrollbar-default = $c-grey
$c-scrollbar-back-default = #ECF0F1
// $c-scrollbar-border-default= #ECF0F1
$c-scrollbar-corner-default = $c-scrollbar-back-default

// alert
// $c-notification-default = $c-grey
// $c-notification-back-default = rgba($c-grey, 0.18)
// $c-notification-primary = $c-primary
// $c-notification-back-primary = rgba($c-primary, 0.18)
// $c-notification-secondary = $c-secondary
// $c-notification-back-secondary = rgba($c-secondary, 0.18)
// $c-notification-dark = #fff
// $c-notification-back-dark = rgba(#000, 0.4)
// $c-notification-light = #000
// $c-notification-back-light = rgba($c-light, 0.2)
// 
// $c-notification-good = $c-good
// $c-notification-back-good = rgba($c-good, 0.18)
// $c-notification-warning = $c-warning
// $c-notification-back-warning = rgba($c-warning, 0.18)
// $c-notification-bad = $c-bad
// $c-notification-back-bad = rgba($c-bad, 0.18)

// CV
// $c-primary= #673AB7
// $c-button-border= hsl(262, 52%, 30%)
// $c-dark= hsl(262, 52%, 30%)
// $c-primary-dark= hsl(262, 52%, 30%)

// color
.primary
  color = $c-primary

.secondary
  color = $c-secondary

.light
  color = $c-light

.dark
  color = $c-dark

// background color
$bg-primary
  background-color $c-primary

.bg
  &-primary
    background-color $c-primary

  &-secondary
    background-color $c-secondary

  &-light
    background-color $c-light

  &-grey
    background-color $c-grey

  &-dark
    background-color $c-dark

  &-good
    background-color $c-good

  &-warning
    background-color $c-warning

  &-bad
    background-color $c-bad

for $index, $value in $colors
  .c-{$index}
    color $value

  .bg-{$index}
    background-color $value